<div>
  <h1>{{title}}</h1>
</div>
<div class="form-location">
  <h4 style="margin-top: 5%;">Save Location</h4>
  <form class="example-form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input id="email" type="text" matInput [formControl]="locationFormControl" [(ngModel)]="email" name="email"
        required>
      <!-- <mat-error *ngIf="locationFormControl.hasError('email') && !locationFormControl.hasError('required')">
        Please enter a valid email
      </mat-error> -->
      <!-- <mat-error *ngIf="locationFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Location Name</mat-label>
      <input id="location" type="text" matInput [formControl]="locationFormControl" [(ngModel)]="location"
        name="location" required>
      <!-- <mat-error *ngIf="locationFormControl.hasError('location') && !locationFormControl.hasError('required')">
        Please enter a valid location
      </mat-error> -->
      <!-- <mat-error *ngIf="locationFormControl.hasError('required')">
        Location is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Area m2</mat-label>
      <input type="number" matInput [formControl]="locationFormControl" [(ngModel)]="area_m2" name="area_m2" required>
      <!-- <mat-error *ngIf="locationFormControl.hasError('area') && !locationFormControl.hasError('required')">
        Please enter a valid area
      </mat-error> -->
      <!-- <mat-error *ngIf="locationFormControl.hasError('required')">
        Area is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
  </form>
  <br>
  <button mat-raised-button color="primary" (click)="saveLocation()">Save</button>
  <div>

    <div class="table-location">
      <h4>Locations Table</h4>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef> Location </th>
          <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="area_m2">
          <th mat-header-cell *matHeaderCellDef> Area_m2 </th>
          <td mat-cell *matCellDef="let element"> {{element.area_m2}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div>
    <h4 style="margin-top: 5%;">Delete Location</h4>
    <mat-form-field appearance="fill">
      <mat-label>Location Id</mat-label>
      <input type="number" matInput [formControl]="locationFormControl" [(ngModel)]="locationid" name="locationid"
        required>
    </mat-form-field>
    <button mat-raised-button color="warn" (click)="deleteLocation()">Delete</button>

  </div>
</div>