.form-location{
  /* position: absolute; */
  margin-left: 5%;
}
.table-location{
  margin-top: 10%;
}
table {
  width: 90%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}